<%- include('header') %>
<section class="vh-100" style="background-color: #ffffff;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5" >
          <div class="card shadow-2-strong" style="border-radius: 1rem; background-color: hsl(0, 0%, 100%);">
            <div class="card-body px-5 py-3 text-center">
  
              <h3 class="mb-5">Admin Login</h3>
              <span class="text-danger fw-bold"><%= mes %></span>
              <form action="/admin/admin_login" method="post">
              <div class="form-outline mb-4 text-start">
                <label class="form-label" for="typeEmailX-2">Username</label>
                <input type="email" id="typeEmailX-2" name="email" class="form-control" placeholder="Enter your username" required />                
              </div>
  
              <div class="form-outline mb-4 text-start">
                <label class="form-label" for="typePasswordX-2">Password</label>
                <input type="password" id="typePasswordX-2" name="password" class="form-control " placeholder="Enter the password" required/> 
              </div>

              <button class="btn btn-outline-dark btn-md btn-block" type="submit">Login</button>
              
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%- include('footer') %>