<%- include('header') %>

<nav class="navbar navbar-expand-lg navbar-light bg-white shadow " >
    <div class="container">
      <a class="navbar-brand" href="/home">ATH.</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-start" id="navbarNav " >
          <ul class="navbar-nav ms-auto">
            <!-- <form action="/filter" method="post">
                <input type="text"hidden value=""> -->
              <li class="nav-item">
                  <a class="nav-link" href="/home#card-section">Men</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/home#card-section">Women</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/home#card-section">Uni-Sex</a>
              </li>
            <!-- </form> -->
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Settings
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <% if (!home) { %>
                          <li><a class="dropdown-item " href="/login">Login</a></li>
                          <li><a class="dropdown-item " href="/user_signup">Sign up</a></li>
                      <% } %>
                       <% if(home) { %> 
                          <li><a class="dropdown-item" href="/user_profile">My profile</a></li>
                          <li><a class="dropdown-item" href="/product_cart">My cart</a></li>
                          <li><a class="dropdown-item" href="/wallet">My wallet</a></li>
                          <li><a class="dropdown-item" href="/order_history">My orders</a></li>
                          <li><a class="dropdown-item" href="/wish_list_view">My wish list</a></li>
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="/logout">Logout</a></li>
                  </ul>
              </li>
          </ul>
      </div>
          <div class="d-flex align-items-center gap-3 me-4">
              <form role="search" id="searchForm" role="search"  action="/home" method="get">
                  <input id="searchInput"  class="charile form-control form-control-sm" type="search" placeholder="Search" name="search" aria-label="Search">
              </form>
              <!-- <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
              </svg> -->

              <a href="/wish_list_view" class="text-dark">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                    <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
                </svg>
                </a>
              
              <a href="/product_cart" class="text-dark">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart2" viewBox="0 0 16 16">
                  <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5M3.14 5l1.25 5h8.22l1.25-5zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0m9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0"/>
              </svg>
            </a>
          </div>
          <% } %>
        </nav>
    </div>
    <script>

    </script>
    <div class="col-lg-12 ">


